.form {
    text-align: center;
    color: #545454;
}

input {
    width: 70%;
    height: 28px;
    text-align: left;
}

#zoom-icon {
    height: 26px;
    width: auto;
    padding-bottom: 5px;
    margin-left: 5px;
    -webkit-appearance: none;
}