.form {
    text-align: center;
    color: #545454;
}

input {
    width: 50%;
    height: 28px;
    text-align: left;
    border: 1px solid #545454;
}

#zoom-icon {
    height: 26px;
    width: auto;
    padding-bottom: 5px;
    margin-left: 5px;
    -webkit-appearance: none;
    cursor: pointer;
}