footer {
    height: 60px;
    background: url("../../assets/images/background-footer.png");
    background-size: cover;
    text-align: center;
    display: flex;
    align-content: space-around;
    color: #fff;
}

p {
    margin: auto;
}