
.row{
    height: 30vh;

}
.center{
    text-align: center;
}

.btn{
    color: #fff;
    margin: 10px;
    width: 100px;
}

h2{
    color: #4285f4;
}
h3{
    color: #34a853;
}

p{
    color: #545454;
}

.col-lg-3, .col-lg-6{

    max-height: 30vh;
}

.col-lg-6{
    overflow: scroll;
}
